mcp
uvicorn
fastapi
python-dotenv
openai
azure-search-documents
azure-core
azure-identity
pandas
openpyxl
botbuilder-core
botbuilder-schema
botbuilder-integration-aiohttp
botbuilder-integration-teams
aiohttp